@font-face {
    font-family: poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: nunito;
    src: url(fonts/Nunito/static/Nunito-Regular.ttf);
}



*{
    box-sizing: border-box;
}
.page-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    
}
.general_container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.main-container {
    max-width: 100%;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 144px;
}


/*First part*/
.top-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(12, 75, 53);
    width: 100%;
    height: 60px;
}
.text-top-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    width: 70%;
    height: 25px;
    font-family: poppins;
    font-size: 14px;
    font-weight: 400;
}
.email-phone-address-navbar {
    display: inline-flex;

    justify-content: space-between;
}
.email-navbar {
    display: flex;
    align-items: center;
    height: 25px;
    margin-right: 10px;
}
.icon-email-navbar {
    background-image: url(images/mail-navbar.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 25px;
}
.phone-navbar {
    display: flex;
    align-items: center;
    height: 25px;
    margin-right: 10px;
}
.icon-phone-navbar {
    background-image: url(images/phone-call-navbar.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 25px;
}
.address-navbar {
    display: flex;
    align-items: center;
    height: 25px;
}
.icon-address-navbar {
    background-image: url(images/location-navbar.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 25px;
}
.language-top-navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
}
.language-top-navbar a {
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}
.vector-navbar {
    background-image: url(images/vector-navbar.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 6px;
    background-position: center;
}
.mobile_menu {
    display: none;
}


/*Second part*/
.bottom-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    width: 100%;
    height: 85px;
}
.bottom-navbar-content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 55px;
}
.bottom-navbar-menu-between {
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.bottom-navbar-menu li {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-navbar-menu a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: nunito;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(33, 37, 41);

}
.bottom-navbar-menu a:hover {
    color: rgb(0, 115, 12);
}

.bottom-navbar-menu-arrow6 a {
    background-image: none;
}
.bottom-navbar-menu-arrow6 a:hover {
    background-image: none;
}
.logo-plants {
    display: flex;
    align-items: center;
    height: 55px;
}
.plants {
    width: 120px;
    height: 55px;
    background-image: url(images/icon-plants-navbar.png);
    background-position: left;
    background-repeat: no-repeat;
}
.vector-plants {
    width: 30px;
    height: 20px;
    background-image: url(images/vector-plants.png);
    background-position: left;
    background-repeat: no-repeat;
    margin-top: -25px;
    margin-left: -25px;
}

.bottom-navbar-menu {
    display: flex;
    height: 55px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
.call-bottom-navbar {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 55px;
    margin-left: 20px;
}
.call-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: rgb(0, 115, 12);
    border-radius: 5px;
}
.call-us-button {
    display: flex;
    justify-content: left;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    background: none;
    border: none;
    width: 95px;
    height: 35px;
}
.call-button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
.call-icons {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 75px;
    height: 35px;
}
.icon-callset {
    background-image: url(images/hendset.png);
    background-repeat: no-repeat;
    background-position: left;
    width: 22px;
    height: 22px;
    margin-right: -13px;
}
.icon-callcloud {
    background-image: url(images/phone-cloud.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-bottom: 15px;
}



/*Third part*/
.head-baner {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 719px;
    margin: 0 auto;
    background-image: url(images/head-baner/head-baner.png)
}
.head-baner-between {
    display: flex;
    width: 100%;
}
.first-head-baner {
    display: flex;
    align-items: end;
    width: 12%;
    height: 719px;
}
.first-img-head-baner {
    margin-bottom: 40px;
}
.menu-head-baner {
    position: relative;
    width: 32%;
    height: 720px;
}
.menu-head-baner-content {
    position: absolute;
    bottom: 7%;
}
.second-img-head-baner {
    width: 50%;
}
.second-img-head-baner-position {
    width: 100%;
    height: 95%;
    margin-top: 35px;
}
.first-content-head-baner {
    display: flex;
    justify-content: left;
    height: 17px;
    background-image: url(images/plants-logo/plants-logo-leefs.png);
    background-repeat: no-repeat;
    background-position-y: center;
    font-family: nunito;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(33, 37, 41);
}
.second-content-head-baner {
    height: 158px;
    font-family: Nunito;
    font-size: 58px;
    font-weight: 800;
    line-height: 79px;
    letter-spacing: 0px;
    text-align: left;
    font-family: Nunito;
    margin: 20px 0px
}
.third-content-head-baner {

    height: 60px;
    color: rgb(103, 103, 103);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    margin: 20px 0px;
}
.fourth-content-head-baner {
    display: flex;
    align-items: center;
    height: 58px;
}
.left-button-head-baner {
    height: 50px;
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
    background: rgb(0, 115, 12);
    border-radius: 5px;
    margin: 10px 0px;
}
.right-button-head-baner {
    height: 30px;
    color: rgb(103, 103, 103);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    margin: 0px 20px;
    background-image: url(images/head-baner/arrow-right-button.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 40px;
}
.frame-content-head-baner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 467px;
    height: 50px;
    margin: 50px 0px;
}
.first-frame {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    background-image: url(images/head-baner/Frame\ 500.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 60px;
    color: rgb(33, 37, 41);
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
}
.second-frame {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    background-image: url(images/head-baner/Frame\ 800.png);
    background-repeat: no-repeat;
    background-position: left;
    color: rgb(33, 37, 41);
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding-left: 60px;
}
.third-frame {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    background-image: url(images/head-baner/Frame\ 100.png);
    background-repeat: no-repeat;
    background-position: left;
    color: rgb(33, 37, 41);
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding-left: 60px;
}



/*services-blog*/
.services-blog {
    position: relative;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1100px;
    background-image: url(images/services-blog/plants.png);
    background-repeat: no-repeat;
    background-position: right;
}
.head-services-blog {
    position: absolute;
    height: 1000px;
}
.services-blog-text {
    width: 65%;
    height: 150px;
}
.main-services-blog-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Nunito;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    margin-bottom: 30px;
}
.paragraph-services-blog-text {
    display: flex;
    align-items: center;
    justify-content: right;
    color: rgb(103, 103, 103);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.cards-services-blog {
    height: 762px;
    padding-top: 50px;
}
.top-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 366px;
}
.bottom-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 366px;
    margin-top: 30px;
}
.cards-blog {
    width: 17%;
    border-radius: 10px;
    height: 366px;
    box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
    background: linear-gradient(170.70deg, rgb(255, 255, 255) -10.786%,rgb(255, 255, 255) 94.035%);
    margin: 0 15px 0 15px;
}
.first-cards-blog-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 144px;
    background-image: url(images/services-blog/icon-hover.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 15px;
}
.first-cards-blog-title {
    height: 33px;
    color: rgb(33, 37, 41);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: capitalize;
    margin: 10px 0px;
}
.cards-blog-text {
    height: 84px;
    color: rgb(103, 103, 103);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
.cards-image-size {
    width: 70px;
    height: 70px;
}




/*frame-blog*/
.frame-blog {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 903px;
    background-image: url(images/frame-blog/leefs.png);
    background-repeat: no-repeat;
    background-position: -15% 0%;
}
.frame-first-col {
    position: relative;
    width: 35%;
    height: 903px;
    margin-right: 20px;
}
.first-col-img {
    position: relative;
    z-index: 1;
}
.second-col-img {
    position: absolute;
    left: 2%;
    bottom: 15%;
    z-index: 2;
}
.third-col-img {
    position: absolute;
    left: 30%;
    bottom: 5%;
    z-index: 3;
}
.frame-second-col {
    position: relative;
    width: 35%;
    height: 903px;
    margin-left: 20px;
}
.frame-col-position {
    position: absolute;
    bottom: 10%;
}
.frame-title-text {
    font-family: nunito;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    text-align: left;
    color: rgb(0, 115, 12);
    margin: 0px 0 15px 0;
}
.frame-main-text {
    color: rgb(103, 103, 103);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    margin: 15px 0 15px 0;
}
.frame-cards {
    height: 224px;
    margin: 25px 0 50px 0;
}
.cards-line-col {
    display: flex;
    align-items: center;
    width: 50%;
    height: 97px;
    margin: 15px;
}
.cards-first-img {
    width: 67px;
    height: 67px;
    background-image: url(images/frame-blog/first-icon.png);
    background-position: center;
}
.cards-second-img {
    width: 67px;
    height: 67px;
    background-image: url(images/frame-blog/second-icon.png);
    background-position: center;
}
.cards-third-img {
    width: 67px;
    height: 67px;
    background-image: url(images/frame-blog/third-icon.png);
    background-position: center;
}
.cards-fourth-img {
    width: 67px;
    height: 67px;
    background-image: url(images/frame-blog/fourth-icon.png);
    background-position: center;
}
.cards-first-text {
    margin-left: 30px;
    color: rgb(33, 37, 41);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: capitalize;
}
.frame-button-discover {
    width: 190px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 35px 13px 35px;
    border-radius: 5px;
    background: rgb(0, 115, 12);
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: capitalize;
}







/*Choose blog*/
.choose-blog {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 655px;
    background: rgb(12, 75, 53);
}
.first-choose-blog {
    width: 10%;
    background-image: url(images/choose-blog/leef-left.png);
    background-position: left;
    background-repeat: no-repeat;
    background-position-x: 78%;
    background-position-y: -100%;
}
.second-choose-blog {
    width: 42%;
    position: relative;
    margin-right: 30px;
}
.second-choose-blog-position {
    position: absolute;
    bottom: 15%;
}
.choose-blog-text {
    color: rgb(255, 255, 255);
    font-family: nunito;
    font-size: 45px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0px;
    text-align: left;
    margin: 30px 0px;
}
.choose-main-text {
    color: rgb(255, 255, 255);
    font-family: nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
}
.third-choose-blog {
    width: 40%;
    background-image: url(images/choose-blog/choose-img.png);
    background-repeat: no-repeat;
    background-position: center;
}
.fourth-choose-blog {
    width: 12%;
    background-image: url(images/choose-blog/leef-right.png);
    background-position: right;
    background-position-x: 20%;
    background-position-y: 200%;
}
.choose-cards {
    margin: 30px 0px;
}
.choose-line-col {
    display: flex;
    align-items: center;
    width: 50%;
    height: 33px;
    margin: 15px;
}
.choose-img {
    height: 50px;
    width: 50px;
    background-image: url(images/choose-blog/tick.png);
}
.choose-first-text {
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: capitalize;
}
.choose-button-discover {
    width: 190px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0 0 30px;
    background: none;
    color: rgb(255, 255, 255);
    font-family: nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: capitalize;
}







/*Working_process*/
.working_process {
    position: relative;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
}
.working_process_title {
    font-family: Nunito;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0px;
    text-align: center;
    color: rgb(0, 115, 12);
    margin: 20px 0px;
}
.working_process_text {
    color: rgb(103, 103, 103);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
}
.working_process_cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 408px;
    margin: 30px 0;
}
.working_cards_blog_first {
    height: 408px;
    width: 17%;
    background-color: rgb(0, 115, 12);
    padding: 30px 30px;
    margin: 0px 15px;
    border-radius: 10px;
    box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.15);
}
.working_cards_blog_second {
    padding: 30px 30px;
    margin: 0px 15px;
    height: 408px;
    width: 17%;
    border-radius: 10px;
    box-shadow: 1px 3px 20px 0px rgba(0, 0, 0, 0.15);
}
.top_cards_blog {
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 78px;
    font-weight: 800;
    line-height: 106px;
    letter-spacing: 0px;
    text-align: right;
    background-image: url(images/working_process/first_icon.png);
    background-repeat: no-repeat;
    background-position: left;
}
.top_cards_blog_second {
    color: rgb(227, 227, 227);
    font-family: Nunito;
    font-size: 78px;
    font-weight: 800;
    line-height: 106px;
    letter-spacing: 0px;
    text-align: right;
    background-image: url(images/working_process/second_icon.png);
    background-repeat: no-repeat;
    background-position: left;
}
.top_cards_blog_thid {
    color: rgb(227, 227, 227);
    font-family: Nunito;
    font-size: 78px;
    font-weight: 800;
    line-height: 106px;
    letter-spacing: 0px;
    text-align: right;
    background-image: url(images/working_process/third_icon.png);
    background-repeat: no-repeat;
    background-position: left;
}
.top_cards_blog_fourth {
    color: rgb(227, 227, 227);
    font-family: Nunito;
    font-size: 78px;
    font-weight: 800;
    line-height: 106px;
    letter-spacing: 0px;
    text-align: right;
    background-image: url(images/working_process/fourth_icon.png);
    background-repeat: no-repeat;
    background-position: left;
}
.middle_cards_blog {
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: capitalize;
    margin: 20px 0px;
}
.middle_cards_blog_second {
    color: rgb(33, 37, 41);
    font-family: Nunito;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: capitalize;
    margin: 20px 0px;
}
.cards_blog_background_first {
    background-image: url(images/working_process/brunch_icon.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 56%;
}
.cards_blog_background {
    background-image: url(images/working_process/brunch.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 56%;
}
.bottom_cards_blog_second {
    color: rgb(103, 103, 103);
font-family: Nunito;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0px;
text-align: left;
}
.bottom_cards_blog {
    color: rgb(255, 255, 255);
font-family: Nunito;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0px;
text-align: left;
}








@media (max-width:375px) {
    .page-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;

     }
    .general_container {
        max-width: 375px;
        margin: 0 auto;
    }
    .header {
        position: relative;
        width: 375px;
        height: 125px;
    }
    .top-navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(12, 75, 53);
        width: 375px;
        height: 55px;
    }
    .text-top-navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 335px;
        height: 20px;
    }
    .text-email-navbar {
        font-size: 0;
    }
    .text-phone-navbar {
        font-size: 0;
    }
    .text-address-navbar {
        font-size: 0;
    }
    .email-phone-address-navbar {
        display: inline-flex;
        width: 140px;
        height: 20px;
        justify-content: space-between;
    }
    .language-top-navbar {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 223px;
        list-style: none;
    }
    .email-navbar {
        display: flex;
        align-items: center;
        width: 25px;
        height: 15px;
    }
    .phone-navbar {
        display: flex;
        align-items: center;
        width: 20px;
        height: 15px;
    }
    .address-navbar {
        display: flex;
        align-items: center;
        width: 20px;
        height: 20px;
    }




    .bottom-navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.15);
        background: rgb(255, 255, 255);
        width: 375px;
        height: 70px;
    }
    .bottom-navbar-menu {
        display: none;
    }
    .bottom-navbar-content {
        display: flex;
        width: 375px;
        height: 40px;
    }
    .call-bottom-navbar {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 55px;
        height: 34px;
    }
    .call-us-button {
        display: none;
    }
    .logo-plants {
        width: 235px;
        height: 40px;
        margin-left: 15px;
    }
    .call-button {
        width: 40px;
        height: 34px;
    }
    .icon-phone-navbar {
        background-image: url(images/icon-call-navbar-mob.png);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
    }
    .icon-address-navbar {
        background-image: url(images/location-navbar-mob.png);
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        margin-bottom: 5px;
    }
    .bla-bla-blog {
        width: 55px;
        height: 34px;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .bla-bla-blog1 {
        width: 25px;
        height: 25px;
        background-image: url(images/cross/first-stick.png);
        background-repeat: no-repeat;

    }
    .bla-bla-blog2 {
        width: 25px;
        height: 25px;
        background-image: url(images/cross/second-stick.png);
        background-repeat: no-repeat;
        margin-left: -25px;
    }
    .icon-callset {
        background-image: url(images/phone-call-navbar-mob.png);
        background-repeat: no-repeat;
        background-position: left;
        width: 27px;
        height: 20px;
    }
    .icon-callcloud {
        background-image: url(images/phone-cloud-mob.png);
        background-repeat: no-repeat;
        background-position: left;
        width: 29px;
        height: 27px;
        margin-top: 5px;
        margin-left: -5px;

    }
    .plants {
        height: 21px;
        width: 72px;
        background-image: url(images/plants-logo/plants-logo-mob.png);
        background-repeat: no-repeat;
    }
    .vector-plants {
        width: 17px;
        height: 14px;
        background-image: url(images/plants-logo/plants-logo-leefs.png);
        background-repeat: no-repeat;
        margin-left: 0px;
    }
    .plants-s {
        width: 17px;
        height: 20px;
        background-image: url(images/plants-logo/plants-logo-s.png);
        background-repeat: no-repeat;
        background-position: bottom;
        margin-left: -16px;
        margin-top: 2px;
    }
    .head-baner {
        display: none;
    }
    .services-blog {
        display: none;
    }
    .frame-blog {
        display: none;
    }
    .choose-blog {
        display: none;
    }
    .between_call_cross {
        width: 50%;
        display: flex;
    }






    .mobile_menu {
        display: block;
        width: 100%;
        background: rgb(12, 75, 53);
        height: 792px;

    }
    .mobile_menu_position {
        position: relative;
        height: 487px;
        padding: 20px 20px;
    }
    .main_mobile_menu {
        position: absolute;
        width: 345px;
    }
    .mobile_menu_ul a {
        display: block;
        color: rgb(255, 255, 255);
        font-family: Nunito;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;

    }
    .mobile_home {
        width: 310px;
        height: 30.5px;
        flex-grow: 0;
        margin-bottom: 15px;
        border-bottom: 1px solid rgb(12, 95, 66);
    }
    .mobile_company {
        position: relative;
        background-image: url(images/mobile/Vector.png);
        background-repeat: no-repeat;
        background-position: right;
        width: 310px;
        height: 260px;
        margin-bottom: 15px;
        border-bottom: 1px solid rgb(12, 95, 66);
        background-position-x: 25%;
        background-position-y: 3%;
    }
    .mobile_services {
        background-image: url(images/mobile/Vector.png);
        background-repeat: no-repeat;
        background-position: center;
        background-position-x: 22%;
        width: 310px;
        height: 30.5px;
        flex-grow: 0;
        margin-bottom: 15px;
        border-bottom: 1px solid rgb(12, 95, 66);
    }
    .mobile_services:hover .mobile_drop_content{
        display: block;
    }
    .mobile_drop_content {
        position: relative;
        display: block;
        top: 5%;
        width: 320px;
        left: 0;
        height: 260px;
        margin-left: 25px;
    }
    .mobile_drop_content a {
        width: 150px;
        height: 22px;
        margin-bottom: 10px;
    }
    .mobile_project {
        background-image: url(images/mobile/Vector.png);
        background-repeat: no-repeat;
        background-position: right;
        width: 310px;
        height: 30.5px;
        flex-grow: 0;
        margin-bottom: 15px;
        background-position-x: 20%;
        border-bottom: 1px solid rgb(12, 95, 66);
    }
    .mobile_blog {
        background-image: url(images/mobile/Vector.png);
        background-repeat: no-repeat;
        background-position: right;
        width: 310px;
        height: 30.5px;
        flex-grow: 0;
        margin-bottom: 15px;
        background-position-x: 14%;
        border-bottom: 1px solid rgb(12, 95, 66);
    }
    .mobile_contact {
        width: 310px;
        height: 30.5px;
        border-bottom: 1px solid rgb(12, 95, 66);
    }
    .mobile_footer {
        width: 375px;
        height: 305px;
    }
    .mobile_footer_position {
        width: 100%;
        height: 305px;
        display: flex;
        justify-content: center;
        align-items: end;
    }
    .mobile_footer_content {
        width: 65%;
        height: 80px;
    }
    .mobile_footer_contacts {
        width: 140px;
        height: 20px;
    }
    .mobile_footer_contacts_icons {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 140px;
        height: 20px;
    }
    .mobile_flex {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 20px;
        margin-bottom: 20px;
    }
    .footer_facebook {
        width: 20px;
        height: 20px;
        background-image: url(images/mobile/facebook.png);
        background-repeat: no-repeat;
    }
    .footer_in {
        width: 20px;
        height: 20px;
        background-image: url(images/mobile/in.png);
        background-repeat: no-repeat;
    }
    .footer_google {
        width: 20px;
        height: 20px;
        background-image: url(images/mobile/google.png);
        background-repeat: no-repeat;
    }
    .footer_twitt {
        width: 20px;
        height: 20px;
        background-image: url(images/mobile/twitt.png);
        background-repeat: no-repeat;
    }
    .mobile_footer_bottom {
        color: rgb(255, 255, 255);
        font-family: Nunito;
        font-size: 10px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: center;
        margin-bottom: 20px;
    }

}

