@font-face {
    font-family: poppins;
    src: url(fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: nunito;
    src: url(fonts/Nunito/static/Nunito-Regular.ttf);
}



* {
    box-sizing: border-box;
}
.page-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.container {
    display: flex;
    justify-content: center;
    width: 1920px;
    margin: 0 auto;
}
.header {
    position: relative;
    width: 1920px;
    height: 144px;
}


/*First part*/
.top-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(12, 75, 53);
    width: 1920px;
    height: 59px;
}
.text-top-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    width: 1418px;
    height: 25px;
    font-family: poppins;
    font-size: 14px;
    font-weight: 400;
}
.email-phone-address-navbar {
    display: inline-flex;
    width: 50%;
    justify-content: space-between;
}
.email-navbar {
    display: flex;
    align-items: center;
    width: 281px;
    height: 25px;
}
.icon-email-navbar {
    background-image: url(images/mail-navbar.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 25px;
}
.phone-navbar {
    display: flex;
    align-items: center;
    width: 135px;
    height: 25px;
}
.icon-phone-navbar {
    background-image: url(images/phone-call-navbar.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 25px;
}
.address-navbar {
    display: flex;
    align-items: center;
    width: 268px;
    height: 25px;
}
.icon-address-navbar {
    background-image: url(images/location-navbar.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 25px;
}
.language-top-navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    list-style: none;
}
.vector-navbar {
    background-image: url(images/vector-navbar.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 6px;
    background-position: center;
}


/*Second part*/
.bottom-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    width: 1920px;
    height: 85px;
}
.bottom-navbar-content {
    display: flex;
    width: 1408px;
    height: 55px;

}
.bottom-navbar-menu a {
    text-decoration: none;
    font-family: nunito;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: rgb(33, 37, 41);
}
.bottom-navbar-menu-arrow1 {
    width: 62px;
    height: 20px;
    background-image: url(images/errow-to-menu.png);
    background-repeat: no-repeat;
    background-position: right;

}
.bottom-navbar-menu-arrow2 {
    width: 87px;
    height: 20px;
    background-image: url(images/errow-to-menu.png);
    background-repeat: no-repeat;
    background-position: right;
}
.bottom-navbar-menu-arrow3 {
    width: 79px;
    height: 20px;
    background-image: url(images/errow-to-menu.png);
    background-repeat: no-repeat;
    background-position: right;

}
.bottom-navbar-menu-arrow4 {
    width: 70px;
    height: 20px;
    background-image: url(images/errow-to-menu.png);
    background-repeat: no-repeat;
    background-position: right;
    text-decoration: none;
}
.bottom-navbar-menu-arrow5 {
    width: 51px;
    height: 20px;
    background-image: url(images/errow-to-menu.png);
    background-repeat: no-repeat;
    background-position: right;
}
.logo-plants {
    display: flex;
    align-items: center;
    background-image: url(images/icon-plants-navbar.png);
    background-position: left;
    background-repeat: no-repeat;
    width: 36%;
    height: 55px;

}
.bottom-navbar-menu {
    display: flex;
    width: 44%;
    height: 55px;
    list-style: none;
    align-items: center;
    justify-content: space-between;

}
.call-bottom-navbar {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 20%;
    height: 55px;
}
.call-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 50px;
    background: rgb(0, 115, 12);
    border-radius: 5px;
}
.call-us-button {
    display: flex;
    justify-content: left;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Nunito;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    background: none;
    border: none;
    width: 95px;
    height: 35px;
}
.call-button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 30px;
}
.call-icons {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 75px;
    height: 35px;
}
.icon-callset {
    background-image: url(images/hendset.png);
    background-repeat: no-repeat;
    background-position: left;
    width: 22px;
    height: 22px;
    margin-right: -13px;
}
.icon-callcloud {
    background-image: url(images/phone-cloud.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-bottom: 15px;
}
